<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="userDao" class="springbook.user.dao.UserDao" >
        <property name="jdbcTemplate" ref="dataSource"/>
    </bean>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/spring"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>
    <!--  exception  -->
    <bean id="awkwardExceptionHandlingDao" class="springbook.exception.example.dao.AwkwardExceptionHandlingDao" >
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="awkwardExceptionExample" class="springbook.exception.example.dao.AwkwardExceptionExample"/>
    <bean id="exceptionRecoveryExample" class="springbook.exception.example.dao.ExceptionRecoveryExample"/>
    <bean id="exceptionAvoidanceExample" class="springbook.exception.example.dao.ExceptionAvoidanceExample">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="exceptionTranslateExample" class="springbook.exception.example.dao.ExceptionTranslateExample">
        <property name="jdbcTemplate" ref="dataSource"/>
    </bean>
    <!--  MySQL error code mapping  -->
    <!--  https://github.com/spring-projects/spring-framework/blob/main/spring-jdbc/src/main/resources/org/springframework/jdbc/support/sql-error-codes.xml  -->
    <bean id="MySQL" class="org.springframework.jdbc.support.SQLErrorCodes">
        <property name="databaseProductNames">
            <list>
                <value>MySQL</value>
                <value>MariaDB</value>
            </list>
        </property>
        <property name="badSqlGrammarCodes">
            <value>1054,1064,1146</value>
        </property>
        <property name="duplicateKeyCodes">
            <value>1062</value>
        </property>
        <property name="dataIntegrityViolationCodes">
            <value>630,839,840,893,1169,1215,1216,1217,1364,1451,1452,1557</value>
        </property>
        <property name="dataAccessResourceFailureCodes">
            <value>1</value>
        </property>
        <property name="cannotAcquireLockCodes">
            <value>1205,3572</value>
        </property>
        <property name="deadlockLoserCodes">
            <value>1213</value>
        </property>
    </bean>
</beans>